h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}
body,
a:visited {
  background-repeat: repeat;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.57em;
  color: rgba(0,0,0,0.8);
  letter-spacing: 0.01em;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
blockquote {
  width: 740px;
  margin: 22px auto;
  display: block;
  box-sizing: border-box;
}
p,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  padding-left: 20px;
  padding-right: 15px;
}
h2,
h3,
h4,
h5,
h6 {
  padding-right: 1em;
}
h1,
h2,
h3,
h5,
h6 {
  font-family: "Open Sans";
  font-family: "Roboto";
  letter-spacing: -0.02em;
  line-height: 1.3em;
  margin-bottom: -0.65em;
}
h1 {
  width: 820px;
  font-size: 1.8em;
  text-align: center;
  font-weight: 300;
  letter-spacing: -0.02;
  margin-top: 40px;
  margin-bottom: -0.45em;
}
h2 {
  font-size: 1.25em;
  font-weight: 400;
  margin-top: 1.8em;
}
h3 {
  font-size: 1.15em;
  font-weight: 300;
  opacity: 0.7;
  margin-top: 1.7em;
  margin-bottom: -0.8em;
}
h2 + h3 {
  margin-top: 0.8em;
  margin-bottom: 1em;
}
h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 400;
  color: #000;
  letter-spacing: -0.005em;
  margin: 1.6em auto -1em auto;
  line-height: 1.4em;
  padding-bottom: 0;
  padding-top: 0.2em;
  padding-right: 5em;
}
h3 + h4 {
  padding-top: 0.4em;
}
h5 {
  padding-right: 0;
  margin-bottom: 35.2px;
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 0;
  font-size: 1.15em;
  line-height: 1.6em;
  width: 640px;
  opacity: 0.9;
}
h5:before,
h5:after {
  opacity: 0.2;
  font-size: 2em;
}
h5:before {
  content: "«";
  display: block;
  margin-left: -27px;
  margin-bottom: -0.7em;
}
h5:after {
  content: "»";
  line-height: 0;
  position: relative;
  top: 5px;
  margin-left: 5px;
}
.comments {
  width: 700px;
  margin: 2em auto;
}
blockquote {
  border-left: 2px solid rgba(50,40,0,0.3);
  color: #4b3c00;
  width: 700px;
  opacity: 1;
  background-color: rgba(100,80,0,0.04);
  border-radius: 0 5px 5px 0;
  margin: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 0;
}
blockquote p {
  margin-top: 11px;
  width: 700px;
  margin-bottom: 11px;
  padding-right: 1em;
}
a,
a:hover {
  text-decoration: none;
}
a {
  display: inline;
  padding-bottom: 0;
  border-bottom: 1px solid rgba(68,119,221,0);
  opacity: 1;
}
.metadata a {
  color: rgba(0,0,0,0.4);
}
a:hover {
  padding-bottom: 2px;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease-out;
}
a:active {
  background-color: rgba(0,0,0,0.1);
  padding: 2px 0;
  -webkit-transition: padding 0.1s ease-in;
  border-radius: 4px;
}
header a,
footer a {
  color: #000;
}
article a,
article a:visited {
  color: #000;
  padding-bottom: 0;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
article a:hover {
  color: #47d;
  opacity: 1;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(68,119,221,0);
  -webkit-transition: border-bottom 0.2s ease-out, padding 0.2s ease-out;
}
.metadata a:hover {
  opacity: 0.6;
}
b,
strong {
  font-weight: 400;
  color: #000;
}
i,
em {
  font-family: "Open Sans";
  font-size: 0.98em;
}
hr {
  width: 246.66666666666666px;
  border: 0;
  border-top: 1px solid #d2d2d2;
  height: 0;
  margin: 2em auto 2.6em;
}
article {
  margin-top: -20px;
}
.parallax {
  position: absolute;
  width: 100%;
  top: 40px;
}
.displayNone {
  position: static;
  visibility: hidden;
}
article hr:first-of-type {
  display: none;
}
ol,
ul {
  list-style: none;
  counter-reset: num;
  padding-left: 20px;
  margin-bottom: 30.799999999999997px;
}
h2 + ol,
h2 + ul {
  margin-top: 1.4em;
}
li {
  margin-bottom: 11px;
}
ol li {
  padding-left: 29px;
}
ol li:before {
  counter-increment: num;
  content: counter(num) ".";
  display: inline-block;
  width: 40px;
  margin-left: -52px;
  margin-right: 12px;
  text-align: right;
}
ul li {
  padding-left: 27px;
}
ul li:before {
  content: "–";
  display: inline-block;
  width: 40px;
  margin-left: -54px;
  margin-right: 14px;
  text-align: right;
}
small {
  font-size: 0.8em;
  line-height: 1.8em;
}
.index .metadata {
  text-align: left;
  font-size: 0.7em;
  margin-bottom: -15px;
  margin-bottom: -10px;
  margin-top: 18px;
  margin-top: 15px;
  padding-left: 20px;
}
.index h2 {
  color: #000;
  font-weight: 300;
  padding-right: 5em;
}
.index a,
.index a:hover {
  color: rgba(0,0,0,0.8);
  border-bottom: 0;
}
.index hr:first-of-type {
  display: block;
}
.index img {
  width: 700px;
  margin-top: 0;
  margin-left: 0;
}
.index .ava_small {
  display: none;
  position: relative;
  width: 26px;
  height: 26px;
  margin-right: 0.5em;
  margin-left: 0;
  top: 0.36em;
}
.ava_big {
  width: 80px;
  height: 80px;
  margin: 40px auto -27px;
}
.ava_big,
.ava_small {
  border-radius: 50%;
}
.ava_big {
  display: block;
}
.ava_small {
  display: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
}
header {
  font-family: "Open Sans";
  font-family: "Roboto";
  font-size: 0.8em;
  font-weight: 500;
  font-weight: 400;
  letter-spacing: -0.02em;
  padding: 1em 20px 1.2em;
  box-sizing: border-box;
  border-bottom: 0;
}
footer {
  font-size: 0.85em;
  line-height: 1.8em;
  font-family: "Open Sans";
  font-family: "Roboto";
  font-weight: 500;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-bottom: 80px;
  text-align: center;
  opacity: 1;
}
.logo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2em;
}
.logo li:first-child {
  display: inline-block;
  background-image: url("/css/home.svg");
  background-repeat: no-repeat;
  background-position: center left;
  position: absolute;
  left: 40px;
  padding-left: 23px;
}
.logo li {
  display: inline;
  padding: 0;
  margin: 0;
  margin-right: 20px;
}
.logo li:before {
  display: none;
}
.logo li:last-child {
  display: inline-block;
  background-image: url("/css/rpc.svg");
  background-repeat: no-repeat;
  background-position: center right;
  position: absolute;
  right: 25px;
  padding-right: 23px;
}
.metadata {
  color: rgba(0,0,0,0.4);
  font-size: 0.8em;
  font-family: "Open Sans";
  font-family: "Roboto";
  font-weight: 500;
  font-weight: 400;
  text-align: center;
  margin: 16pt auto 35pt;
  padding-right: 20px;
}
code,
kbd {
  font-family: "Cousine", "Fira Mono", monospace;
  font-size: 0.9em;
  letter-spacing: -0.05em;
  display: inline;
}
kbd {
  font-size: 0.8em;
  opacity: 0.7;
  padding: 3px 5px;
  margin: auto 2px;
  border-radius: 0.4em;
  border: 1px solid rgba(0,0,0,0.2);
}
pre {
  width: 700px;
  overflow: auto;
  border-radius: 0 0.2em 0.2em 0;
  border-left: 2px solid rgba(0,10,40,0.1);
  margin: auto;
}
pre code {
  padding: 15px 20px;
  margin: 0 auto;
  font-size: 0.74em;
  letter-spacing: 0;
  line-height: 1.7em;
}
img {
  width: 100%;
}
p img {
  width: 920px;
  margin-left: -110px;
  margin-top: 33px;
  margin-bottom: 11px;
}
@media (max-width: 960px) {
  p img {
    width: 820px;
    margin-left: -60px;
    margin-top: 33px;
    margin-bottom: 11px;
  }
}
img + small {
  display: block;
  text-align: center;
  margin-left: 0;
  margin-top: -11px;
  margin-bottom: 33px;
  padding-left: 20px;
  padding-right: 20px;
}
.iframe {
  position: relative;
  width: 860px;
  margin: 44px auto;
}
.iframe iframe {
  width: 860px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.iframe .ratio {
  width: 860px;
  display: block;
  height: auto;
  content: url("/css/transparent.png");
}
.dot {
  letter-spacing: 0.4em;
  font-size: 0.8em;
  opacity: 0.5;
}
@media (max-width: 890px) {
  body {
    font-size: 15pt;
  }
  h1,
  p,
  h2,
  h3,
  h4,
  h6,
  ul,
  ol {
    width: 680px;
  }
  pre,
  blockquote p,
  blockquote {
    width: 640px;
  }
  .comments {
    width: 640px;
  }
  h1 {
    font-size: 1.6em;
  }
  h5 {
    width: 580px;
  }
  p img,
  .index img {
    width: 640px;
    margin-left: 0;
    margin-top: 22px;
    margin-bottom: 0;
  }
  .index img {
    margin-top: 0;
  }
  img + small {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .iframe {
    width: 740px;
    position: relative;
    margin: 44px auto;
  }
  .iframe iframe {
    width: 740px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .iframe .ratio {
    width: 740px;
    display: block;
    height: auto;
  }
}
@media (max-width: 750px) {
  body {
    font-size: 13pt;
  }
  h1,
  p,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  blockquote,
  blockquote p {
    width: 100%;
    padding: 0 20px;
    margin: inherit 0;
  }
  .comments {
    width: 90%;
  }
  p {
    overflow: hidden;
  }
  h1,
  .index h2 {
    max-width: 100%;
    font-size: 1.4em;
    text-align: left;
    margin-top: 12px;
    margin-bottom: -20px;
    padding-right: 2em;
    padding-bottom: 0px;
  }
  .index h2 {
    padding-top: 1px;
  }
  h2,
  h3 {
    margin-top: 1.5em;
    margin-bottom: -0.8em;
  }
  h2 {
    font-size: 1.15em;
  }
  h2 + h3 {
    margin-top: 1.1em;
  }
  h3 {
    font-size: 1.1em;
  }
  h4 {
    margin-bottom: -1.35em;
  }
  h5 {
    max-width: 90%;
  }
  hr {
    width: 68%;
    margin-bottom: 30.799999999999997px;
  }
  blockquote p {
    padding: 10px 0;
  }
  article {
    margin-top: 40px;
  }
  .parallax {
    padding-top: 5px;
  }
  pre {
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
  pre code {
    padding: 15px 20px;
  }
  p img,
  .index img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .iframe {
    width: 100%;
    position: relative;
    margin: 44px auto;
  }
  .iframe iframe {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .iframe .ratio {
    width: 100%;
    display: block;
    height: auto;
  }
  .ava_big {
    display: none;
  }
  .ava_small,
  .index .ava_small {
    display: inline;
    position: relative;
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 2px;
    top: 10px;
    left: -5px;
  }
  .metadata,
  .index .metadata {
    font-size: 0.8em;
    width: 100%;
    text-align: left;
    text-transform: none;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    padding-left: 25px;
  }
  .metadata span {
    position: relative;
    left: 44px;
    top: -36px;
    line-height: 1.4em;
    display: block;
  }
  .metadata .dot,
  .index .dot {
    display: none;
  }
  .index .metadata {
    padding-bottom: -30px;
    margin-bottom: -10px;
  }
  .metadata {
    padding-bottom: 50px;
  }
  header {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding: 0.6em 20px 0.5em;
  }
  .logo li:first-child {
    left: 20px;
  }
  .logo li:last-child {
    right: 0px;
  }
}
